## flight prediction (EDA+feature engineering)

In [2]:
import pandas as pd
import seaborn as sns
from mypyc.analysis.attrdefined import find_always_defined_attributes

In [3]:
train_df = pd.read_excel("DATA/Data_Train.xlsx")
train_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [4]:
train_df.shape

(10683, 11)

In [5]:
test_df = pd.read_excel("DATA/Test_set.xlsx")
test_df.shape

(2671, 10)

In [6]:
final_df = pd.concat([train_df, test_df])
final_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0

In [7]:
final_df.shape

(13354, 11)

In [8]:
final_df.tail()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
2666,Air India,6/06/2019,Kolkata,Banglore,CCU → DEL → BLR,20:30,20:25 07 Jun,23h 55m,1 stop,No info,NaN
2667,IndiGo,27/03/2019,Kolkata,Banglore,CCU → BLR,14:20,16:55,2h 35m,non-stop,No info,NaN
2668,Jet Airways,6/03/2019,Delhi,Cochin,DEL → BOM → COK,21:50,04:25 07 Mar,6h 35m,1 stop,No info,NaN
2669,Air India,6/03/2019,Delhi,Cochin,DEL → BOM → COK,04:00,19:15,15h 15m,1 stop,No info,NaN
2670,Multiple carriers,15/06/2019,Delhi,Cochin,DEL → BOM → COK,04:55,19:15,14h 20m,1 stop,No info,NaN

In [9]:
final_df.isnull().sum()

Airline               0
Date_of_Journey       0
Source                0
Destination           0
Route                 1
Dep_Time              0
Arrival_Time          0
Duration              0
Total_Stops           1
Additional_Info       0
Price              2671
dtype: int64

In [10]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13354 entries, 0 to 2670
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Date_of_Journey  13354 non-null  object
 2   Source           13354 non-null  object
 3   Destination      13354 non-null  object
 4   Route            13353 non-null  object
 5   Dep_Time         13354 non-null  object
 6   Arrival_Time     13354 non-null  object
 7   Duration         13354 non-null  object
 8   Total_Stops      13353 non-null  object
 9   Additional_Info  13354 non-null  object
 10  Price            10683 non-null  float64
dtypes: float64(1), object(10)
memory usage: 1.2+ MB

In [11]:
final_df['Date_of_Journey'].str.split('/').str[0]  ## here we can get specific feature after split using the index

0       24
1        1
2        9
3       12
4       01
        ..
2666     6
2667    27
2668     6
2669     6
2670    15
Name: Date_of_Journey, Length: 13354, dtype: object

# Hence this data is already cleaned then we only focus on Feature engineering part more

In [12]:
final_df['Date'] = final_df['Date_of_Journey'].str.split('/').str[0]
final_df['Month'] = final_df['Date_of_Journey'].str.split('/').str[1]
final_df['Year'] = final_df['Date_of_Journey'].str.split('/').str[2]
final_df['Date'] = final_df['Date'].astype(int)
final_df['Month'] = final_df['Month'].astype(int)
final_df['Year'] = final_df['Year'].astype(int)
final_df.drop('Date_of_Journey',axis=1,inplace=True)

In [13]:
final_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0,24,03,2019
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,1,05,2019
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0,9,06,2019
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0,12,05,2019
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0,01,03,2019

In [14]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13354 entries, 0 to 2670
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Date_of_Journey  13354 non-null  object
 2   Source           13354 non-null  object
 3   Destination      13354 non-null  object
 4   Route            13353 non-null  object
 5   Dep_Time         13354 non-null  object
 6   Arrival_Time     13354 non-null  object
 7   Duration         13354 non-null  object
 8   Total_Stops      13353 non-null  object
 9   Additional_Info  13354 non-null  object
 10  Price            10683 non-null  float64
 11  Date             13354 non-null  object
 12  Month            13354 non-null  object
 13  Year             13354 non-null  object
dtypes: float64(1), object(13)
memory usage: 1.5+ MB

In [15]:
# ## This way we can also do it
# final_df["Date"] = final_df["Date_of_Journey"].apply(lambda x: x.split('/')[0])
# final_df["Month"] = final_df["Date_of_Journey"].apply(lambda x: x.split('/')[1])
# final_df["Year"] = final_df["Date_of_Journey"].apply(lambda x: x.split('/')[2])

In [17]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13354 entries, 0 to 2670
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Date_of_Journey  13354 non-null  object
 2   Source           13354 non-null  object
 3   Destination      13354 non-null  object
 4   Route            13353 non-null  object
 5   Dep_Time         13354 non-null  object
 6   Arrival_Time     13354 non-null  object
 7   Duration         13354 non-null  object
 8   Total_Stops      13353 non-null  object
 9   Additional_Info  13354 non-null  object
 10  Price            10683 non-null  float64
 11  Date             13354 non-null  int32
 12  Month            13354 non-null  int32
 13  Year             13354 non-null  int32
dtypes: float64(1), int32(3), object(10)
memory usage: 1.4+ MB

In [19]:
final_df.head(1)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0,24,3,2019

In [20]:
final_df['Arrival_Time']=final_df['Arrival_Time'].str.split(' ').str[0] ## removing the date and month
final_df['Arrival_hour']= final_df['Arrival_Time'].apply(lambda x: x.split(':')[0])
final_df['Arrival_minute']= final_df['Arrival_Time'].apply(lambda x: x.split(':')[1])
final_df['Arrival_hour']= final_df['Arrival_hour'].astype(int)
final_df['Arrival_minute']= final_df['Arrival_minute'].astype(int)
final_df.drop('Arrival_Time',axis=1,inplace=True)

In [25]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13354 entries, 0 to 2670
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Source           13354 non-null  object
 2   Destination      13354 non-null  object
 3   Route            13353 non-null  object
 4   Dep_Time         13354 non-null  object
 5   Arrival_Time     13354 non-null  object
 6   Duration         13354 non-null  object
 7   Total_Stops      13353 non-null  object
 8   Additional_Info  13354 non-null  object
 9   Price            10683 non-null  float64
 10  Date             13354 non-null  int32
 11  Month            13354 non-null  int32
 12  Year             13354 non-null  int32
 13  Arrival_hour     13354 non-null  int32
 14  Arrival_minute   13354 non-null  int32
dtypes: float64(1), int32(5), object(9)
memory usage: 1.4+ MB

In [27]:
final_df.head(1)

,Airline,Source,Destination,Route,Dep_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_minute
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,2h 50m,non-stop,No info,3897.0,24,3,2019,1,10

In [28]:
final_df['Dep_hour']= final_df['Dep_Time'].apply(lambda x: x.split(':')[0])
final_df['Dep_minute']= final_df['Dep_Time'].apply(lambda x: x.split(':')[1])
final_df['Dep_hour']= final_df['Dep_hour'].astype(int)
final_df['Dep_minute']= final_df['Dep_minute'].astype(int)
final_df.drop('Dep_Time',axis=1,inplace=True)

In [31]:
final_df.head()

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_minute,Dep_hour,Dep_minute
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,non-stop,No info,3897.0,24,3,2019,1,10,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2 stops,No info,7662.0,1,5,2019,13,15,5,50
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,19h,2 stops,No info,13882.0,9,6,2019,4,25,9,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,5h 25m,1 stop,No info,6218.0,12,5,2019,23,30,18,5
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,4h 45m,1 stop,No info,13302.0,1,3,2019,21,35,16,50

In [32]:
final_df['Total_Stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [33]:
final_df[final_df['Total_Stops'].isnull()]

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_minute,Dep_hour,Dep_minute
9039,Air India,Delhi,Cochin,NaN,23h 40m,NaN,No info,7480.0,6,5,2019,9,25,9,45

In [34]:
final_df['Total_Stops']= final_df['Total_Stops'].map({'non-stop':0,'1 stop':1,'2 stops':2,'3 stops':3,'4 stops':4,'nan':2})

In [35]:
final_df['Total_Stops'].isnull().sum()

1

In [36]:
final_df[final_df['Total_Stops'].isnull()]=2

In [37]:
final_df.drop('Route',axis=1,inplace=True)

In [38]:
final_df.head()

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_minute,Dep_hour,Dep_minute
0,IndiGo,Banglore,New Delhi,2h 50m,0.0,No info,3897.0,24,3,2019,1,10,22,20
1,Air India,Kolkata,Banglore,7h 25m,2.0,No info,7662.0,1,5,2019,13,15,5,50
2,Jet Airways,Delhi,Cochin,19h,2.0,No info,13882.0,9,6,2019,4,25,9,25
3,IndiGo,Kolkata,Banglore,5h 25m,1.0,No info,6218.0,12,5,2019,23,30,18,5
4,IndiGo,Banglore,New Delhi,4h 45m,1.0,No info,13302.0,1,3,2019,21,35,16,50

In [39]:
final_df['Additional_Info'].unique()

array(['No info', 'In-flight meal not included',
       'No check-in baggage included', '1 Short layover', 'No Info',
       '1 Long layover', 'Change airports', 'Business class',
       'Red-eye flight', 2, '2 Long layover'], dtype=object)

In [40]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13354 entries, 0 to 2670
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Source           13354 non-null  object
 2   Destination      13354 non-null  object
 3   Duration         13354 non-null  object
 4   Total_Stops      13354 non-null  float64
 5   Additional_Info  13354 non-null  object
 6   Price            10683 non-null  float64
 7   Date             13354 non-null  int32
 8   Month            13354 non-null  int32
 9   Year             13354 non-null  int32
 10  Arrival_hour     13354 non-null  int32
 11  Arrival_minute   13354 non-null  int32
 12  Dep_hour         13354 non-null  int32
 13  Dep_minute       13354 non-null  int32
dtypes: float64(2), int32(7), object(5)
memory usage: 1.2+ MB

In [46]:
final_df['Total_Duration_Mins']=final_df['Duration'].str.split(' ').str[0].str.split('h').str[0]

In [73]:
final_df['Duration_Mins']=final_df['Duration'].str.split(' ').str[1].str.split('m').str[0]

In [63]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13354 entries, 0 to 2670
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Airline              13354 non-null  object
 1   Source               13354 non-null  object
 2   Destination          13354 non-null  object
 3   Duration             13354 non-null  object
 4   Total_Stops          13354 non-null  float64
 5   Additional_Info      13354 non-null  object
 6   Price                10683 non-null  float64
 7   Date                 13354 non-null  int32
 8   Month                13354 non-null  int32
 9   Year                 13354 non-null  int32
 10  Arrival_hour         13354 non-null  int32
 11  Arrival_minute       13354 non-null  int32
 12  Dep_hour             13354 non-null  int32
 13  Dep_minute           13354 non-null  int32
 14  Total_Duration_Mins  13353 non-null  object
 15  Duration_Mins        12067 non-null  object
dtypes: float64(2), int32(7), object(7)
memory usage: 1.4+ MB

In [75]:
final_df = final_df[final_df['Total_Duration_Mins'] != '5m']

In [82]:
final_df = final_df.dropna(subset=['Total_Duration_Mins'])
final_df['Total_Duration_Mins'] = final_df['Total_Duration_Mins'].astype(int)

C:\Users\bhara\AppData\Local\Temp\ipykernel_22136\694858257.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['Total_Duration_Mins'] = final_df['Total_Duration_Mins'].astype(int)

In [92]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12067 entries, 0 to 2670
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Airline              12067 non-null  object
 1   Source               12067 non-null  object
 2   Destination          12067 non-null  object
 3   Duration             12067 non-null  object
 4   Total_Stops          12067 non-null  float64
 5   Additional_Info      12067 non-null  object
 6   Price                9650 non-null   float64
 7   Date                 12067 non-null  int32
 8   Month                12067 non-null  int32
 9   Year                 12067 non-null  int32
 10  Arrival_hour         12067 non-null  int32
 11  Arrival_minute       12067 non-null  int32
 12  Dep_hour             12067 non-null  int32
 13  Dep_minute           12067 non-null  int32
 14  Total_Duration_Mins  12067 non-null  int32
 15  Duration_Mins        12067 non-null  int32
dtypes: float64(2), int32(9), object(5)
memory usage: 1.2+ MB

In [91]:
final_df = final_df.dropna(subset=['Duration_Mins'])
final_df['Duration_Mins'] = final_df['Duration_Mins'].astype(int)

C:\Users\bhara\AppData\Local\Temp\ipykernel_22136\3368823186.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['Duration_Mins'] = final_df['Duration_Mins'].astype(int)

In [93]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12067 entries, 0 to 2670
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Airline              12067 non-null  object
 1   Source               12067 non-null  object
 2   Destination          12067 non-null  object
 3   Duration             12067 non-null  object
 4   Total_Stops          12067 non-null  float64
 5   Additional_Info      12067 non-null  object
 6   Price                9650 non-null   float64
 7   Date                 12067 non-null  int32
 8   Month                12067 non-null  int32
 9   Year                 12067 non-null  int32
 10  Arrival_hour         12067 non-null  int32
 11  Arrival_minute       12067 non-null  int32
 12  Dep_hour             12067 non-null  int32
 13  Dep_minute           12067 non-null  int32
 14  Total_Duration_Mins  12067 non-null  int32
 15  Duration_Mins        12067 non-null  int32
dtypes: float64(2), int32(9), object(5)
memory usage: 1.2+ MB

In [97]:
final_df['Total_Duration_Mins'] = final_df['Total_Duration_Mins']*60

C:\Users\bhara\AppData\Local\Temp\ipykernel_22136\379317621.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['Total_Duration_Mins'] = final_df['Total_Duration_Mins']*60

In [98]:
final_df[['Total_Duration_Mins','Duration_Mins']]

      Total_Duration_Mins  Duration_Mins
0                     120             50
1                     420             25
3                     300             25
4                     240             45
5                     120             25
...                   ...            ...
2666                 1380             55
2667                  120             35
2668                  360             35
2669                  900             15
2670                  840             20

[12067 rows x 2 columns]

In [100]:
final_df['Total_Duration_Mins']+=final_df['Duration_Mins']

C:\Users\bhara\AppData\Local\Temp\ipykernel_22136\556986748.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['Total_Duration_Mins']+=final_df['Duration_Mins']

In [101]:
final_df[['Total_Duration_Mins','Duration_Mins']]

      Total_Duration_Mins  Duration_Mins
0                     170             50
1                     445             25
3                     325             25
4                     285             45
5                     145             25
...                   ...            ...
2666                 1435             55
2667                  155             35
2668                  395             35
2669                  915             15
2670                  860             20

[12067 rows x 2 columns]

In [102]:
final_df.drop('Duration_Mins',axis=1,inplace=True)
final_df.drop('Duration',axis=1,inplace=True)

C:\Users\bhara\AppData\Local\Temp\ipykernel_22136\295398091.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.drop('Duration_Mins',axis=1,inplace=True)
C:\Users\bhara\AppData\Local\Temp\ipykernel_22136\295398091.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.drop('Duration',axis=1,inplace=True)

In [103]:
final_df.head()

,Airline,Source,Destination,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_minute,Dep_hour,Dep_minute,Total_Duration_Mins
0,IndiGo,Banglore,New Delhi,0.0,No info,3897.0,24,3,2019,1,10,22,20,170
1,Air India,Kolkata,Banglore,2.0,No info,7662.0,1,5,2019,13,15,5,50,445
3,IndiGo,Kolkata,Banglore,1.0,No info,6218.0,12,5,2019,23,30,18,5,325
4,IndiGo,Banglore,New Delhi,1.0,No info,13302.0,1,3,2019,21,35,16,50,285
5,SpiceJet,Kolkata,Banglore,0.0,No info,3873.0,24,6,2019,11,25,9,0,145

In [105]:
final_df.isnull().sum()

Airline                   0
Source                    0
Destination               0
Total_Stops               0
Additional_Info           0
Price                  2417
Date                      0
Month                     0
Year                      0
Arrival_hour              0
Arrival_minute            0
Dep_hour                  0
Dep_minute                0
Total_Duration_Mins       0
dtype: int64

In [106]:
final_df['Airline'].unique()

array(['IndiGo', 'Air India', 'SpiceJet', 'Jet Airways',
       'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia',
       'Vistara Premium economy', 'Multiple carriers Premium economy',
       'Trujet', 'Jet Airways Business'], dtype=object)

In [109]:
final_df.shape

(12067, 14)

In [108]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

In [110]:
final_df['Airline']= label_encoder.fit_transform(final_df['Airline'])
final_df['Source']= label_encoder.fit_transform(final_df['Source'])
final_df['Destination']= label_encoder.fit_transform(final_df['Destination'])
final_df['Additional_Info']= label_encoder.fit_transform(final_df['Additional_Info'])

C:\Users\bhara\AppData\Local\Temp\ipykernel_22136\2991719734.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['Airline']= label_encoder.fit_transform(final_df['Airline'])
C:\Users\bhara\AppData\Local\Temp\ipykernel_22136\2991719734.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['Source']= label_encoder.fit_transform(final_df['Source'])
C:\Users\bhara\AppData\Local\Temp\ipykernel_22136\2991719734.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['Destination']= label_encoder.fit_transform(final_df['Destination'])
C:\Users\bhara\AppData\Local\Temp\ipykernel_22136\2991719734.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['Additional_Info']= label_encoder.fit_transform(final_df['Additional_Info'])

In [112]:
final_df.head()

,Airline,Source,Destination,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_minute,Dep_hour,Dep_minute,Total_Duration_Mins
0,3,0,5,0.0,8,3897.0,24,3,2019,1,10,22,20,170
1,1,3,0,2.0,8,7662.0,1,5,2019,13,15,5,50,445
3,3,3,0,1.0,8,6218.0,12,5,2019,23,30,18,5,325
4,3,0,5,1.0,8,13302.0,1,3,2019,21,35,16,50,285
5,8,3,0,0.0,8,3873.0,24,6,2019,11,25,9,0,145

In [ ]:
## this is a another to encode the categorical features using the sklearn
# from sklearn.preprocessing import OneHotEncoder
# ohe = OneHotEncoder()
# final_df['Airline']= ohe.fit_transform(final_df['Airline'])
# final_df['Source']= ohe.fit_transform(final_df['Source'])
# final_df['Destination']= ohe.fit_transform(final_df['Destination'])
# final_df['Additional_Info']= ohe.fit_transform(final_df['Additional_Info'])

In [117]:
final_df=pd.get_dummies(final_df,columns=["Airline", "Source", "Destination","Additional_Info"],drop_first=True)

In [119]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12067 entries, 0 to 2670
Data columns (total 39 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Total_Stops          12067 non-null  float64
 1   Price                9650 non-null   float64
 2   Date                 12067 non-null  int32
 3   Month                12067 non-null  int32
 4   Year                 12067 non-null  int32
 5   Arrival_hour         12067 non-null  int32
 6   Arrival_minute       12067 non-null  int32
 7   Dep_hour             12067 non-null  int32
 8   Dep_minute           12067 non-null  int32
 9   Total_Duration_Mins  12067 non-null  int32
 10  Airline_1            12067 non-null  bool
 11  Airline_2            12067 non-null  bool
 12  Airline_3            12067 non-null  bool
 13  Airline_4            12067 non-null  bool
 14  Airline_5            12067 non-null  bool
 15  Airline_6            12067 non-null  bool
 16  Airline_7            12067 non-null  bool
 17  Airline_8            12067 non-null  bool
 18  Airline_9            12067 non-null  bool
 19  Airline_10           12067 non-null  bool
 20  Airline_11           12067 non-null  bool
 21  Source_1             12067 non-null  bool
 22  Source_2             12067 non-null  bool
 23  Source_3             12067 non-null  bool
 24  Source_4             12067 non-null  bool
 25  Destination_1        12067 non-null  bool
 26  Destination_2        12067 non-null  bool
 27  Destination_3        12067 non-null  bool
 28  Destination_4        12067 non-null  bool
 29  Destination_5        12067 non-null  bool
 30  Additional_Info_1    12067 non-null  bool
 31  Additional_Info_2    12067 non-null  bool
 32  Additional_Info_3    12067 non-null  bool
 33  Additional_Info_4    12067 non-null  bool
 34  Additional_Info_5    12067 non-null  bool
 35  Additional_Info_6    12067 non-null  bool
 36  Additional_Info_7    12067 non-null  bool
 37  Additional_Info_8    12067 non-null  bool
 38  Additional_Info_9    12067 non-null  bool
dtypes: bool(29), float64(2), int32(8)
memory usage: 1001.7 KB

In [13]:
final_df.to_csv('Cleaned_flight_data.csv', index=False)
print("Cleaned data saved to 'Cleaned_flight_data.csv'")

NameError: name 'final_df' is not defined

In [17]:
df = pd.read_csv('Cleaned_flight_data.csv')
train_data = df[df['Price'].notna()]  # Rows where Price is available
test_data = df[df['Price'].isna()].drop(columns=['Price'])

In [18]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error
# Select features and target variable
features = train_data.drop(columns=['Price'])  # All columns except 'Price'
target = train_data['Price']

# Split into training and validation sets
X_train, X_val, y_train, y_val = train_test_split(features, target, test_size=0.2, random_state=42)

# Train a Random Forest Regressor
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

# Validate the model
y_pred = model.predict(X_val)
mae = mean_absolute_error(y_val, y_pred)
rmse = mean_squared_error(y_val, y_pred, squared=False)
mape = (abs(y_val - y_pred) / y_val).mean() * 100
accuracy = 100 - mape

test_predictions = model.predict(test_data)


test_data['Predicted_Price'] = test_predictions
test_data.to_csv("Predicted_Flight_Prices.csv", index=False)


print(f"Mean Absolute Error: {mae}")
print(f"Root Mean Squared Error: {rmse}")
print(f"Model Accuracy: {accuracy:.2f}%")

Mean Absolute Error: 626.0788969652109
Root Mean Squared Error: 1282.4125990574387
Model Accuracy: 92.62%

C:\Users\bhara\anaconda3\Lib\site-packages\sklearn\metrics\_regression.py:492: FutureWarning: 'squared' is deprecated in version 1.4 and will be removed in 1.6. To calculate the root mean squared error, use the function'root_mean_squared_error'.
  warnings.warn(

In [19]:
resultDATA = pd.read_csv(f"Predicted_Flight_Prices.csv")

In [20]:
resultDATA

,Total_Stops,Date,Month,Year,Arrival_hour,Arrival_minute,Dep_hour,Dep_minute,Total_Duration_Mins,Airline_1,...,Additional_Info_1,Additional_Info_2,Additional_Info_3,Additional_Info_4,Additional_Info_5,Additional_Info_6,Additional_Info_7,Additional_Info_8,Additional_Info_9,Predicted_Price
0,1.0,6,6,2019,4,25,17,30,655,False,...,False,False,False,False,False,False,False,True,False,14741.58
1,1.0,21,5,2019,19,0,19,15,1425,False,...,False,False,False,False,True,False,False,False,False,12898.00
2,0.0,24,6,2019,2,45,23,55,170,False,...,False,False,False,False,False,False,False,True,False,3691.43
3,1.0,12,6,2019,12,35,18,15,1100,False,...,False,False,False,False,True,False,False,False,False,10280.90
4,1.0,12,3,2019,22,35,7,30,905,True,...,False,False,False,False,False,False,False,True,False,10917.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2412,1.0,6,6,2019,20,25,20,30,1435,True,...,False,False,False,False,False,False,False,True,False,10209.46
2413,0.0,27,3,2019,16,55,14,20,155,False,...,False,False,False,False,False,False,False,True,False,4792.09
2414,1.0,6,3,2019,4,25,21,50,395,False,...,False,False,False,False,False,False,False,True,False,15645.91
2415,1.0,6,3,2019,19,15,4,0,915,True,...,False,False,False,False,False,False,False,True,False,14630.50
2416,1.0,15,6,2019,19,15,4,55,860,False,...,False,False,False,False,False,False,False,True,False,7379.01