In [14]:
df  = pd.read_csv("./DATA/solar.csv",low_memory=False)

In [2]:
df.shape

(8784, 8)

In [3]:
df.isnull().sum()

YEAR                 0
MO                   0
DY                   0
HR                   0
ALLSKY_SFC_SW_DWN    0
T2M                  0
RH2M                 0
WS10M                0
dtype: int64

In [17]:
df

,Source,Location ID,City,State,Country,Latitude,Longitude,Time Zone,Elevation,Local Time Zone,Dew Point Units,DHI Units,DNI Units,GHI Units,Temperature Units,Pressure Units,Wind Direction Units,Wind Speed Units,Version
0,NSRDB,28930,-,-,-,27.05,75.75,5.5,0,5.5,c,w/m2,w/m2,w/m2,c,mbar,Degrees,m/s,unknown
1,Year,Month,Day,Hour,Minute,DHI,DNI,Dew Point,Pressure,Temperature,Wind Speed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2005,1,1,0,30,0,0,-4,9670,9,0.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2005,1,1,1,30,0,0,-5,9670,9,0.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2005,1,1,2,30,0,0,-5,9670,8,0.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8757,2012,12,31,19,30,0,0,-6,9680,13,0.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8758,2012,12,31,20,30,0,0,-6,9680,12,0.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8759,2012,12,31,21,30,0,0,-6,9680,11,0.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8760,2012,12,31,22,30,0,0,-5,9670,10,0.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8761,2012,12,31,23,30,0,0,-4,9670,10,0.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df = pd.read_csv("SolarData/HA4_34.95_-114.15_2006_UPV_125MW_60_Min.csv",low_memory=False)

In [10]:
df['Power(MW)'].unique()

array([0.000e+00, 6.370e+01, 7.930e+01, 6.830e+01, 6.850e+01, 4.000e+01,
       2.740e+01, 4.190e+01, 4.850e+01, 9.900e+00, 5.430e+01, 7.780e+01,
       2.400e+01, 4.030e+01, 2.790e+01, 5.820e+01, 6.260e+01, 3.950e+01,
       1.910e+01, 6.440e+01, 8.300e+01, 8.490e+01, 8.410e+01, 8.350e+01,
       8.070e+01, 8.220e+01, 7.420e+01, 3.180e+01, 6.380e+01, 8.230e+01,
       7.680e+01, 7.500e+01, 8.320e+01, 8.480e+01, 7.110e+01, 4.110e+01,
       7.870e+01, 8.430e+01, 4.000e-01, 7.440e+01, 8.330e+01, 7.520e+01,
       6.250e+01, 3.130e+01, 6.190e+01, 7.980e+01, 8.370e+01, 8.260e+01,
       8.140e+01, 7.840e+01, 7.660e+01, 7.470e+01, 4.210e+01, 6.100e+01,
       7.920e+01, 8.550e+01, 3.630e+01, 6.490e+01, 7.810e+01, 6.390e+01,
       3.200e+01, 3.090e+01, 6.080e+01, 7.900e+01, 8.470e+01, 8.190e+01,
       7.750e+01, 4.510e+01, 6.620e+01, 8.520e+01, 8.950e+01, 8.940e+01,
       8.800e+01, 8.730e+01, 8.440e+01, 7.820e+01, 4.680e+01, 6.530e+01,
       8.340e+01, 8.180e+01, 8.290e+01, 8.240e+01, 6.450e+01, 8.130e+01,
       7.890e+01, 7.720e+01, 7.860e+01, 7.580e+01, 4.390e+01, 7.550e+01,
       6.770e+01, 6.960e+01, 8.280e+01, 8.050e+01, 4.990e+01, 8.090e+01,
       8.400e+01, 7.390e+01, 7.480e+01, 7.230e+01, 4.570e+01, 3.600e+01,
       5.960e+01, 8.110e+01, 8.750e+01, 7.990e+01, 5.330e+01, 6.090e+01,
       8.990e+01, 8.720e+01, 7.800e+01, 7.300e+01, 4.710e+01, 9.040e+01,
       9.620e+01, 1.000e+00, 7.880e+01, 9.380e+01, 9.180e+01, 5.470e+01,
       6.700e+01, 8.510e+01, 7.910e+01, 8.270e+01, 8.590e+01, 5.750e+01,
       6.650e+01, 5.720e+01, 9.120e+01, 9.090e+01, 9.110e+01, 8.960e+01,
       5.920e+01, 6.720e+01, 7.970e+01, 4.440e+01, 2.990e+01, 5.580e+01,
       8.450e+01, 8.010e+01, 5.690e+01, 6.810e+01, 8.530e+01, 5.760e+01,
       8.460e+01, 8.890e+01, 8.790e+01, 8.650e+01, 1.000e-01, 6.780e+01,
       8.540e+01, 8.830e+01, 9.010e+01, 9.020e+01, 8.910e+01, 5.900e+01,
       2.000e-01, 7.080e+01, 9.080e+01, 7.410e+01, 6.460e+01, 5.590e+01,
       4.270e+01, 4.960e+01, 5.400e+01, 3.000e-01, 7.070e+01, 9.030e+01,
       9.370e+01, 9.350e+01, 9.270e+01, 9.310e+01, 6.000e-01, 7.010e+01,
       8.920e+01, 7.770e+01, 7.090e+01, 5.150e+01, 3.480e+01, 1.000e+01,
       9.320e+01, 9.170e+01, 8.630e+01, 6.590e+01, 1.400e+00, 6.760e+01,
       8.500e+01, 7.020e+01, 9.290e+01, 9.130e+01, 2.500e+00, 6.890e+01,
       8.770e+01, 9.070e+01, 9.140e+01, 9.260e+01, 6.170e+01, 4.100e+00,
       6.610e+01, 8.970e+01, 9.060e+01, 9.230e+01, 9.300e+01, 8.670e+01,
       8.060e+01, 5.000e+01, 8.250e+01, 8.690e+01, 8.680e+01, 6.670e+01,
       1.120e+01, 6.940e+01, 8.710e+01, 8.760e+01, 8.580e+01, 8.610e+01,
       5.800e+00, 7.040e+01, 8.900e+01, 9.240e+01, 9.420e+01, 9.470e+01,
       8.820e+01, 6.980e+01, 1.310e+01, 6.510e+01, 8.420e+01, 1.360e+01,
       6.740e+01, 7.050e+01, 6.600e+01, 1.490e+01, 7.000e+01, 8.360e+01,
       8.700e+01, 7.170e+01, 1.680e+01, 6.880e+01, 8.600e+01, 8.380e+01,
       6.110e+01, 5.100e+00, 6.920e+01, 4.890e+01, 5.390e+01, 8.870e+01,
       8.860e+01, 7.530e+01, 1.860e+01, 7.190e+01, 8.880e+01, 8.200e+00,
       7.120e+01, 8.740e+01, 7.310e+01, 1.200e+01, 8.780e+01, 7.140e+01,
       1.300e+01, 7.160e+01, 9.360e+01, 7.400e+01, 1.500e+01, 9.250e+01,
       9.410e+01, 8.570e+01, 7.540e+01, 9.150e+01, 9.660e+01, 9.720e+01,
       9.530e+01, 1.320e+01, 3.110e+01, 7.490e+01, 9.560e+01, 9.490e+01,
       9.330e+01, 1.830e+01, 3.220e+01, 3.370e+01, 7.600e+01, 7.200e+01,
       1.690e+01, 3.190e+01, 5.500e+01, 3.830e+01, 5.700e+01, 6.750e+01,
       7.240e+01, 4.310e+01, 1.520e+01, 3.290e+01, 9.980e+01, 1.013e+02,
       1.006e+02, 1.004e+02, 9.860e+01, 7.210e+01, 5.500e+00, 3.660e+01,
       9.770e+01, 9.820e+01, 9.710e+01, 9.510e+01, 9.480e+01, 9.400e+01,
       1.400e+01, 3.440e+01, 7.610e+01, 1.300e+00, 3.640e+01, 2.890e+01,
       6.420e+01, 7.350e+01, 8.560e+01, 8.040e+01, 2.230e+01, 3.710e+01,
       8.170e+01, 7.590e+01, 7.740e+01, 3.900e+01, 8.800e+00, 9.100e+01,
       1.037e+02, 1.010e+02, 5.370e+01, 7.850e+01, 4.260e+01, 5.200e+00,
       3.810e+01, 7.830e+01, 9.430e+01, 2.310e+01, 4.060e+01, 9.830e+01,
       9.970e+01, 9.790e+01, 9.500e+01, 9.520e+01, 7.950e+01, 2.190e+01,
       4.170e+01, 8.640e+01, 2.510e+01, 4.150e+01, 9.630e+01, 9.550e+01,
       9.460e+01, 9.390e+01, 2.840e+01, 7.940e+01, 8.930e+01, 7.640e+01,
       2.780e+01, 4.340e+01, 8.030e+01, 9.050e+01, 8.980e+01, 2.050e+01,
       7.320e+01, 5.870e+01, 4.420e+01, 7.150e+01, 6.160e+01, 1.100e+01,
       2.900e+01, 6.150e+01, 1.270e+01, 1.100e+00, 1.630e+01, 5.000e-01,
       1.970e+01, 1.250e+01, 2.400e+00, 1.580e+01, 4.480e+01, 1.290e+01,
       5.290e+01, 9.650e+01, 9.960e+01, 2.980e+01, 4.840e+01, 9.670e+01,
       9.800e+01, 1.980e+01, 1.022e+02, 1.031e+02, 9.210e+01, 2.930e+01,
       5.070e+01, 9.930e+01, 9.890e+01, 9.740e+01, 9.940e+01, 5.380e+01,
       8.020e+01, 9.690e+01, 7.960e+01, 2.490e+01, 3.850e+01, 2.210e+01,
       1.140e+01, 3.980e+01, 4.140e+01, 2.240e+01, 1.570e+01, 6.200e+00,
       4.690e+01, 8.310e+01, 9.760e+01, 5.730e+01, 5.770e+01, 3.730e+01,
       7.300e+00, 2.670e+01, 1.003e+02, 1.046e+02, 1.034e+02, 1.015e+02,
       3.790e+01, 1.850e+01, 6.130e+01, 8.390e+01, 6.030e+01, 6.340e+01,
       7.330e+01, 2.160e+01, 9.570e+01, 1.102e+02, 1.084e+02, 1.064e+02,
       8.160e+01, 6.640e+01, 7.100e+00, 7.800e+00, 7.690e+01, 2.600e+01,
       1.650e+01, 6.790e+01, 1.052e+02, 1.047e+02, 8.620e+01, 2.880e+01,
       1.044e+02, 1.028e+02, 1.005e+02, 9.190e+01, 1.039e+02, 1.014e+02,
       7.650e+01, 2.260e+01, 9.730e+01, 9.840e+01, 9.920e+01, 4.550e+01,
       6.120e+01, 6.050e+01, 5.830e+01, 4.560e+01, 4.490e+01, 6.570e+01,
       5.810e+01, 2.630e+01, 5.130e+01, 1.073e+02, 1.001e+02, 1.035e+02,
       1.210e+01, 3.870e+01, 5.490e+01, 5.280e+01, 5.560e+01, 3.310e+01,
       8.840e+01, 9.680e+01, 9.990e+01, 9.580e+01, 1.011e+02, 4.870e+01,
       3.470e+01, 3.360e+01, 1.640e+01, 1.460e+01, 5.110e+01, 7.100e+01,
       2.090e+01, 9.340e+01, 9.440e+01, 9.600e+01, 6.540e+01, 5.010e+01,
       6.930e+01, 1.021e+02, 1.019e+02, 9.850e+01, 1.026e+02, 6.560e+01,
       5.540e+01, 3.060e+01, 9.160e+01, 1.025e+02, 1.009e+02, 9.950e+01,
       9.810e+01, 4.670e+01, 5.710e+01, 6.860e+01, 5.140e+01, 3.400e+01,
       4.700e+00, 5.700e+00, 1.990e+01, 2.610e+01, 6.310e+01, 5.060e+01,
       1.090e+01, 4.300e+00, 1.017e+02, 8.000e+01, 4.640e+01, 3.050e+01,
       6.580e+01, 4.370e+01, 5.600e+01, 2.640e+01, 6.730e+01, 4.970e+01,
       1.740e+01, 1.590e+01, 2.500e+01, 1.710e+01, 8.400e+00, 1.540e+01,
       1.040e+02, 1.045e+02, 1.041e+02, 8.210e+01, 5.530e+01, 2.120e+01,
       9.900e+01, 1.016e+02, 9.870e+01, 4.250e+01, 3.500e+00, 2.390e+01,
       9.280e+01, 1.200e+00, 2.600e+00, 5.660e+01, 5.610e+01, 4.400e+01,
       3.880e+01, 2.810e+01, 1.079e+02, 1.068e+02, 4.160e+01, 5.030e+01,
       2.070e+01, 2.100e+01, 1.066e+02, 1.069e+02, 1.059e+02, 1.032e+02,
       5.460e+01, 2.540e+01, 9.450e+01, 5.440e+01, 2.940e+01, 8.120e+01,
       1.027e+02, 9.750e+01, 7.630e+01, 1.053e+02, 1.072e+02, 1.055e+02,
       7.510e+01, 3.460e+01, 2.720e+01, 4.930e+01, 9.590e+01, 1.024e+02,
       1.007e+02, 1.700e+00, 3.690e+01, 1.002e+02, 9.910e+01, 7.260e+01,
       5.400e+00, 1.700e+01, 4.820e+01, 2.690e+01, 5.640e+01, 3.040e+01,
       3.610e+01, 1.057e+02, 1.050e+02, 5.940e+01, 2.800e+00, 9.880e+01,
       1.018e+02, 5.850e+01, 7.790e+01, 1.049e+02, 1.038e+02, 4.520e+01,
       1.054e+02, 1.048e+02, 1.023e+02, 5.950e+01, 4.460e+01, 7.670e+01,
       9.700e+01, 1.500e+00, 7.560e+01, 5.360e+01, 3.240e+01, 2.910e+01,
       4.200e+00, 4.100e+01, 9.220e+01, 1.043e+02, 7.760e+01, 4.050e+01,
       7.060e+01, 3.300e+00, 4.380e+01, 3.800e+01, 8.150e+01, 4.590e+01,
       5.930e+01, 8.300e+00, 4.620e+01, 9.000e+01, 4.500e+01, 5.300e+00,
       7.250e+01, 7.030e+01, 4.200e+01, 9.540e+01, 9.500e+00, 6.710e+01,
       8.000e+00, 6.800e+01, 1.230e+01, 7.700e+00, 4.540e+01, 4.660e+01,
       1.390e+01, 4.070e+01, 9.610e+01, 6.000e+01, 5.800e+01, 4.750e+01,
       6.430e+01, 4.650e+01, 7.220e+01, 5.270e+01, 6.100e+00, 4.470e+01,
       8.080e+01, 1.440e+01, 4.700e+01, 5.780e+01, 4.600e+01, 5.180e+01,
       2.970e+01, 3.590e+01, 5.090e+01, 3.670e+01, 4.530e+01, 4.500e+00,
       4.300e+01, 9.200e+01, 4.800e+00, 1.530e+01, 1.750e+01, 2.420e+01,
       7.500e+00, 8.850e+01, 6.210e+01, 3.860e+01, 6.200e+01, 3.400e+00,
       3.680e+01, 3.570e+01, 2.060e+01, 4.920e+01, 7.270e+01, 6.060e+01,
       1.960e+01, 7.340e+01, 8.810e+01, 8.100e+01, 5.740e+01, 1.790e+01,
       1.670e+01, 6.600e+00, 5.240e+01, 6.410e+01, 1.012e+02, 7.400e+00,
       8.660e+01, 1.420e+01, 5.100e+01, 5.910e+01, 1.870e+01, 5.120e+01,
       7.710e+01, 6.220e+01, 2.370e+01, 6.480e+01, 6.020e+01, 2.340e+01,
       5.230e+01, 6.230e+01, 2.480e+01, 1.240e+01, 5.020e+01, 1.220e+01,
       6.180e+01, 4.770e+01, 5.990e+01, 4.810e+01, 5.340e+01, 2.580e+01,
       1.180e+01, 3.510e+01, 6.520e+01, 5.650e+01, 9.300e+00, 8.700e+00,
       4.940e+01, 1.150e+01, 4.290e+01, 2.450e+01, 2.680e+01, 4.090e+01,
       5.190e+01, 1.030e+01, 6.900e+01, 2.530e+01, 2.280e+01, 6.010e+01,
       2.860e+01, 1.260e+01, 6.470e+01, 4.800e+01, 4.450e+01, 2.750e+01,
       1.280e+01, 5.260e+01, 2.330e+01, 5.170e+01, 4.980e+01, 7.460e+01,
       7.430e+01, 2.850e+01, 4.830e+01, 3.500e+01, 1.190e+01, 5.510e+01,
       7.360e+01, 5.620e+01, 4.950e+01, 6.270e+01, 1.170e+01, 2.410e+01,
       8.200e+01, 2.460e+01, 6.700e+00, 9.000e-01, 7.620e+01, 1.010e+01,
       4.580e+01, 6.320e+01, 1.020e+01, 2.200e+00, 5.630e+01, 2.800e+01,
       5.000e+00, 2.550e+01, 7.700e+01, 6.900e+00, 2.820e+01, 7.570e+01,
       3.320e+01, 1.730e+01, 1.930e+01, 2.380e+01, 3.560e+01, 5.880e+01,
       4.430e+01, 2.270e+01, 5.840e+01, 6.950e+01, 6.690e+01, 5.160e+01,
       5.310e+01, 6.300e+01, 2.000e+01, 4.610e+01, 6.840e+01, 6.290e+01,
       1.820e+01, 4.410e+01, 6.660e+01, 6.870e+01, 7.450e+01, 6.240e+01,
       1.760e+01, 4.240e+01, 5.040e+01, 2.440e+01, 3.550e+01, 6.070e+01,
       2.590e+01, 5.670e+01, 4.080e+01, 2.730e+01, 3.450e+01, 6.400e+00,
       5.220e+01, 1.370e+01, 4.130e+01, 6.550e+01, 1.110e+01, 5.420e+01,
       3.420e+01, 2.710e+01, 4.010e+01, 3.820e+01, 3.340e+01, 2.030e+01,
       6.970e+01, 1.350e+01, 6.910e+01, 3.740e+01, 4.760e+01, 7.380e+01,
       5.790e+01, 1.770e+01, 3.540e+01, 1.780e+01, 1.380e+01, 1.070e+01,
       4.350e+01, 4.000e+00, 3.910e+01, 6.990e+01, 3.260e+01, 1.160e+01,
       3.620e+01, 3.890e+01, 7.290e+01, 1.900e+00, 3.430e+01, 1.050e+01,
       3.080e+01, 7.180e+01, 1.510e+01, 3.750e+01, 6.680e+01, 5.970e+01,
       3.600e+00, 2.100e+00, 6.820e+01, 1.060e+01, 3.390e+01, 6.140e+01,
       9.400e+00, 3.140e+01, 3.100e+01, 5.320e+01, 3.010e+01, 2.560e+01,
       3.780e+01, 2.700e+01, 3.020e+01, 3.930e+01, 3.300e+01, 3.170e+01,
       3.000e+01, 7.130e+01, 4.040e+01, 3.030e+01, 2.960e+01, 7.280e+01,
       3.070e+01, 3.250e+01, 3.270e+01, 9.780e+01, 2.130e+01, 6.630e+01,
       1.660e+01, 2.140e+01, 5.900e+00, 4.320e+01, 5.050e+01, 1.410e+01,
       1.430e+01, 5.250e+01, 1.080e+01, 8.600e+00, 9.640e+01, 4.900e+01,
       5.410e+01, 4.360e+01, 4.220e+01, 4.720e+01, 6.280e+01, 3.990e+01,
       2.700e+00, 5.570e+01, 4.910e+01, 5.450e+01, 4.120e+01, 5.350e+01,
       6.330e+01, 2.920e+01, 4.880e+01, 7.370e+01, 2.200e+01, 4.860e+01,
       3.120e+01, 2.760e+01, 4.330e+01, 3.410e+01, 4.740e+01, 6.040e+01,
       5.520e+01, 4.180e+01, 2.180e+01, 2.290e+01, 1.890e+01, 5.210e+01,
       3.000e+00, 2.360e+01, 6.360e+01, 2.040e+01, 1.610e+01, 3.230e+01,
       1.470e+01, 5.480e+01, 2.010e+01, 1.900e+01, 1.940e+01, 3.350e+01,
       1.600e+00, 4.600e+00, 3.330e+01, 6.000e+00, 2.320e+01, 6.500e+00,
       3.920e+01])

In [2]:
df.columns

NameError: name 'df' is not defined

In [21]:
# import requests

# url = "https://power.larc.nasa.gov/api/temporal/hourly/point?parameters=ALLSKY_SFC_SW_DWN,T2M,RH2M,WS10M&community=RE&longitude=75.8&latitude=26.9&start=20240101&end=20241231&format=CSV"

# response = requests.get(url)

# # Save data to a CSV file
# with open("nasa_power_data.csv", "wb") as file:
#     file.write(response.content)

# print("NASA POWER data downloaded successfully!")

In [4]:
df  = pd.read_csv('DATA/nasa_power_data.csv')

In [5]:
df

      YEAR  MO  DY  HR  ALLSKY_SFC_SW_DWN    T2M   RH2M  WS10M
0     2024   1   1   0                0.0   9.01  58.48   2.57
1     2024   1   1   1                0.0   8.54  60.23   2.49
2     2024   1   1   2                0.0   8.07  62.03   2.52
3     2024   1   1   3                0.0   7.63  64.06   2.64
4     2024   1   1   4                0.0   7.23  65.84   2.76
...    ...  ..  ..  ..                ...    ...    ...    ...
8779  2024  12  31  19             -999.0  14.38  47.39   0.76
8780  2024  12  31  20             -999.0  13.29  50.06   1.21
8781  2024  12  31  21             -999.0  12.00  53.69   1.55
8782  2024  12  31  22             -999.0  11.09  56.06   1.84
8783  2024  12  31  23             -999.0  10.05  59.30   2.08

[8784 rows x 8 columns]

In [6]:
df.columns

Index(['YEAR', 'MO', 'DY', 'HR', 'ALLSKY_SFC_SW_DWN', 'T2M', 'RH2M', 'WS10M'], dtype='object')

In [25]:
# Rename the columns to lowercase and the expected names
df_renamed = df.rename(columns={
    'YEAR': 'year',
    'MO': 'month',
    'DY': 'day',
    'HR': 'hour'
})

# Now create a datetime column from these columns
df_renamed['datetime'] = pd.to_datetime(df_renamed[['year', 'month', 'day', 'hour']])

# Optionally, sort by datetime if needed
df_renamed = df_renamed.sort_values('datetime')

# Check the result
print(df_renamed.head())

   year  month  day  hour  ALLSKY_SFC_SW_DWN   T2M   RH2M  WS10M  \
0  2024      1    1     0                0.0  9.01  58.48   2.57
1  2024      1    1     1                0.0  8.54  60.23   2.49
2  2024      1    1     2                0.0  8.07  62.03   2.52
3  2024      1    1     3                0.0  7.63  64.06   2.64
4  2024      1    1     4                0.0  7.23  65.84   2.76

             datetime
0 2024-01-01 00:00:00
1 2024-01-01 01:00:00
2 2024-01-01 02:00:00
3 2024-01-01 03:00:00
4 2024-01-01 04:00:00

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import RandomForestRegressor
import xgboost as xgb


df = df.rename(columns={
    'YEAR': 'year',
    'MO': 'month',
    'DY': 'day',
    'HR': 'hour'
})

df['datetime'] = pd.to_datetime(df[['year', 'month', 'day', 'hour']])

df = df.sort_values('datetime')

df['hour_sin'] = np.sin(2 * np.pi * df['hour'] / 24)
df['hour_cos'] = np.cos(2 * np.pi * df['hour'] / 24)

features = ['T2M', 'RH2M', 'WS10M', 'hour_sin', 'hour_cos']
X = df[features]
y = df['ALLSKY_SFC_SW_DWN']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
model1 = RandomForestRegressor(n_estimators=100, random_state=42)
model = xgb.XGBRegressor(objective='reg:squarederror', random_state=42)

param_grid = {
    'max_depth': [3, 5, 7],
    'learning_rate': [0.01, 0.1, 0.2],
    'n_estimators': [100, 200, 300],
    'subsample': [0.7, 0.8, 1.0],
    'colsample_bytree': [0.7, 0.8, 1.0],
    'min_child_weight': [1, 3, 5]
}

grid_search = GridSearchCV(
    estimator=model,
    param_grid=param_grid,
    scoring='neg_mean_squared_error',  
    cv=5,
    verbose=1,
    n_jobs=-1
)
model1.fit(X_train,y_train)

grid_search.fit(X_train, y_train)

best_model = grid_search.best_estimator_
print("Best Hyperparameters:", grid_search.best_params_)

predictions = best_model.predict(X_test)
predictions1 = model1.predict(X_test)
mse = mean_squared_error(y_test, predictions)
mse1 = mean_squared_error(y_test,predictions1)
print("Test MSE:", mse)
print("Test MSE:", mse1)

Fitting 5 folds for each of 729 candidates, totalling 3645 fits

c:\Users\bhara\anaconda3\Lib\site-packages\numpy\ma\core.py:2820: RuntimeWarning: invalid value encountered in cast
  _data = np.array(data, dtype=dtype, copy=copy,

Best Hyperparameters: {'colsample_bytree': 1.0, 'learning_rate': 0.1, 'max_depth': 7, 'min_child_weight': 5, 'n_estimators': 100, 'subsample': 0.8}
Test MSE: 57669.190279598304
Test MSE: 54672.09859352032

In [ ]:
from sklearn.metrics import r2_score

r2_score_1 = r2_score(y_test, predictions)
print("RÂ² score for predictions:", r2_score_1)

r2_score_2 = r2_score(y_test, predictions1)
print("RÂ² score for predictions1:", r2_score_2)

RÂ² score for predictions: 0.8638855338817757
RÂ² score for predictions1: 0.8709594590189246

Test R2: 86.38855338817757

In [ ]:
X_test

        T2M   RH2M  WS10M  hour_sin  hour_cos
6385  25.40  91.62   1.61  0.258819  0.965926
1488  13.86  54.80   3.52  0.000000  1.000000
6539  30.71  68.17   3.02  0.258819 -0.965926
3153  37.63  18.63   3.41  0.707107 -0.707107
496   19.23  19.32   2.46 -0.866025 -0.500000
...     ...    ...    ...       ...       ...
7084  20.43  90.27   1.65  0.866025  0.500000
5867  31.44  69.61   1.93  0.258819 -0.965926
694   14.30  48.01   3.27 -0.500000  0.866025
3328  43.63   8.83   7.05 -0.866025 -0.500000
4382  35.79  50.60   4.89 -0.500000 -0.866025

[1757 rows x 5 columns]

In [ ]:
predictions

array([-988.1892  , -388.4115  , -943.2939  , ...,  -41.665794,
        353.76062 ,  468.33917 ], dtype=float32)